<article class="grid-container">
  <!-- default button -->
  <input
    type="radio"
    name="sort-control"
    value="default"
    id="radio-sort-defalt"
  />
  <label class="sort-label" for="radio-sort-defalt">Default</label>
  <!-- category button -->
  <input
    type="radio"
    name="sort-control"
    value="category"
    id="radio-sort-category"
  />
  <label class="sort-label" for="radio-sort-category">Category</label>

  <!-- header영역 -->
  <header class="page-header">
    <h1 class="site-title">CSS Grid Layout!</h1>
  </header>

  <!-- 본문 내역 -->
  <section class="cate-sect cate-music">
    <header class="cate-sect-header">
      <div class="cate-name">Music</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-food">
    <header class="cate-sect-header">
      <div class="cate-name">Food</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-game">
    <header class="cate-sect-header">
      <div class="cate-name">Game</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-tech">
    <header class="cate-sect-header">
      <div class="cate-name">Tech</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-game">
    <header class="cate-sect-header">
      <div class="cate-name">Game</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-game">
    <header class="cate-sect-header">
      <div class="cate-name">Game</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-music">
    <header class="cate-sect-header">
      <div class="cate-name">Music</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-food">
    <header class="cate-sect-header">
      <div class="cate-name">Food</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>

  <section class="cate-sect cate-music">
    <header class="cate-sect-header">
      <div class="cate-name">Music</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-tech">
    <header class="cate-sect-header">
      <div class="cate-name">Tech</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-music">
    <header class="cate-sect-header">
      <div class="cate-name">Music</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-tech">
    <header class="cate-sect-header">
      <div class="cate-name">Tech</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>

  <section class="cate-sect cate-food">
    <header class="cate-sect-header">
      <div class="cate-name">Food</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-tech">
    <header class="cate-sect-header">
      <div class="cate-name">Tech</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-game">
    <header class="cate-sect-header">
      <div class="cate-name">Game</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
  <section class="cate-sect cate-food">
    <header class="cate-sect-header">
      <div class="cate-name">Food</div>
      <h2 class="cate-sect-title">Lorem Ipsum</h2>
    </header>
    <p class="cate-sect-cont">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos
      necessitatibus dicta quod. Doloribus nulla ducimus qui nobis, eligendi,
      nisi doloremque quia sapiente quaerat dignissimos facilis? Ipsum dolorum
      atque quaerat?
    </p>
  </section>
</article>
